<h1>Our cocktails</h1>

<div id="list-cocktail">
  <% @cocktails.each do |cocktail|%></%>
  <% if  cocktail.photo? %>
    <% my_photo_url = cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill%>
  <% else %>
    <% my_photo_url = "toto" %>
  <% end %>
  <div class="card index-item"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
  url(<%= my_photo_url %>)">
    <div class="card-description">
      <h2><%= cocktail.name %></h2>
    </div>
    <%= link_to "", cocktail_path(cocktail), Class: 'card-link' %>
  </div>
<% end %>
</div>
